<launch>
  <arg name="demo" default="true"/>

  <!-- Timeout parameters -->
  <param name="/sarafun/bt/approach_objects/timeout" type="double" value="10.0"/>
  <param name="/sarafun/bt/grab_object/timeout" type="double" value="10.0"/>
  <param name="/sarafun/bt/folding_assembly/timeout" type="double" value="10.0"/>
  <param name="/sarafun/bt/insertion_deformation/timeout" type="double" value="10.0"/>
  <param name="/sarafun/bt/place/timeout" type="double" value="10.0"/>

  <!-- Launch the Behavior tree action nodes -->
  <node name="GrabObjectAction" pkg="sarafun_tree" type="GrabObjectAction" output="screen"/>
  <node name="ApproachObjectsAction" pkg="sarafun_tree" type="ApproachObjectsAction" output="screen"/>
  <node name="FoldingAssemblyAction" pkg="sarafun_tree" type="FoldingAssemblyAction" output="screen"/>
  <node name="InsertionWithDeformationAction" pkg="sarafun_tree" type="InsertionWithDeformationAction" output="screen"/>
  <node name="PlaceAction" pkg="sarafun_tree" type="PlaceAction" output="screen"/>

  <!-- Launch the tree client -->
  <node name="tree" pkg="sarafun_tree" type="sarafun_bt_demo"/>

  <!-- Dummy actionlib servers for demo purposes -->
  <group if="$(arg demo)">
      <node name="ApproachDummy" pkg="sarafun_manipulation" type="ApproachDummy" output="screen"/>
      <node name="GrabDummy" pkg="sarafun_manipulation" type="GrabDummy" output="screen"/>
      <node name="PlaceDummy" pkg="sarafun_manipulation" type="PlaceDummy" output="screen"/>
      <node name="FoldingDummy" pkg="sarafun_assembly" type="FoldingDummy" output="screen"/>
      <node name="InsertionDummy" pkg="sarafun_assembly" type="InsertionDummy" output="screen"/>
  </group>
</launch>
