<launch>
  <node name="GrabObjectAction" pkg="sarafun_tree" type="GrabObjectAction"  output="screen"/>
  <node name="ApproachObjectsAction" pkg="sarafun_tree" type="ApproachObjectsAction"  output="screen"/>
  <node name="FoldingAssemblyAction" pkg="sarafun_tree" type="FoldingAssemblyAction"  output="screen"/>
  <node name="InsertionWithDeformationAction" pkg="sarafun_tree" type="InsertionWithDeformationAction" output="screen"/>
  <node name="PlaceAction" pkg="sarafun_tree" type="PlaceAction" output="screen"/>

  <node name="tree" pkg="sarafun_tree" type="sarafun_bt_demo" output="screen"/>
</launch>
