<launch>
  <!-- General parameters -->
  <arg name="debug" default="false"/>
  <param name="/sarafun/bt/tick_period" type="int" value="500"/> <!-- Tick period in milisseconds -->
  <param name="/sarafun/bt/running" type="bool" value="true"/> <!-- Immediately start the behavior tree -->
  <rosparam command="load" file="$(find sarafun_tree)/config/sarafun_action_nodes_config.yaml"/>

  <group if="$(arg debug)" >
    <node name="tree" pkg="sarafun_tree" type="sarafun_bt" output="screen" launch-prefix="xterm -e gdb --args"/>
	  <!-- Dummy actionlib servers for debug purposes -->
	  <node name="AlignDummy" pkg="sarafun_bt_nodes_test" type="AlignDummy" output="screen"/>
	  <node name="AssembledDummy" pkg="sarafun_bt_nodes_test" type="AssembledDummy" output="screen"/>
	  <node name="ContactDummy" pkg="sarafun_bt_nodes_test" type="ContactDummy" output="screen"/>
	  <node name="GraspDummy" pkg="sarafun_bt_nodes_test" type="GraspDummy" output="screen"/>
    <node name="InitialDummy" pkg="sarafun_bt_nodes_test" type="InitialDummy" output="screen"/>
    <node name="MoveDummy" pkg="sarafun_bt_nodes_test" type="MoveDummy" output="screen"/>
    <node name="PickupDummy" pkg="sarafun_bt_nodes_test" type="PickupDummy" output="screen"/>
	  <node name="RetractDummy" pkg="sarafun_bt_nodes_test" type="RetractDummy" output="screen"/>
  </group>

  <group unless="$(arg debug)" >
    <node name="tree" pkg="sarafun_tree" type="sarafun_bt" output="screen"/>
  </group>

  <!-- Launch the Behavior tree action nodes -->
  <node name="AlignAction" pkg="sarafun_tree" type="AlignAction" output="screen"/>
  <node name="AssembledAction" pkg="sarafun_tree" type="AssembledAction" output="screen"/>
  <node name="ContactAction" pkg="sarafun_tree" type="ContactAction" output="screen"/>
  <node name="GraspAction" pkg="sarafun_tree" type="GraspAction" output="screen"/>
  <node name="InitialAction" pkg="sarafun_tree" type="InitialAction" output="screen"/>
  <node name="MoveAction" pkg="sarafun_tree" type="MoveAction" output="screen"/>
  <node name="PickupAction" pkg="sarafun_tree" type="PickupAction" output="screen"/>
  <node name="RetractAction" pkg="sarafun_tree" type="RetractAction" output="screen"/>
</launch>
